.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
}

.activeButton {
    background-color: #12FB36;
}

.default {
    background-color:#808080;
}

.nearMaxMass {
    color:#FF0000;
    font-weight: bold;
}

h3 {
    text-align: center;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */


/* Add the 'nearMaxMass' class style here: */
