<div class="displayBox">
    <h3>Equipment</h3>
    <ol>
        <li *ngFor="let item of equipmentItems">
            <button class="activeButton" (click)=addItem(item) [disabled]="item.mass + this.cargoMass > this.maximumAllowedMass || this.inactive" [class.default]="item.mass + this.cargoMass > this.maximumAllowedMass || this.inactive">Add to Cargo Hold</button>
            {{item.name}}, {{item.mass}} kg
        </li>
    </ol>
</div>

<hr>

<div class = "displayBox">
    <h3>Cargo Hold: {{cargoHold.length}}/{{maxItems}} Spots Filled</h3>
    <ol>
        <li *ngFor="let equipment of cargoHold">{{equipment.name}}</li>
    </ol>
    <p>Mass in Hold: {{cargoMass}} kg</p>
    <p [class.nearMaxMass]="this.cargoMass + 200 >= this.maximumAllowedMass">Mass Budget Remaining: {{calculateMassRemaining()}} kg</p>
    <p><button (click)=emptyHold()>Empty Hold</button></p>
</div>

